name: Continuous Integration

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - "main"

jobs:
  test:
    env:
      MIX_ENV: test
    runs-on: ubuntu-24.04
    name: Test (OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }})
    services:
      rabbitmq:
        image: rabbitmq:4.1
        ports:
          - 5672:5672
        options: --health-cmd "rabbitmqctl node_health_check" --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      matrix:
        elixir: ["1.19", "1.18", "1.17", "1.16", "1.15"]
        otp: ["28", "27", "26"]
        exclude:
          - { otp: "28", elixir: "1.17" }
          - { otp: "28", elixir: "1.16" }
          - { otp: "28", elixir: "1.15" }
          - { otp: "27", elixir: "1.16" }
          - { otp: "27", elixir: "1.15" }
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}
      - run: mix deps.get
      - run: mix test

  lint:
    runs-on: ubuntu-latest
    name: Linting
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        id: beam
        with:
          version-file: .tool-versions
          version-type: strict
      - name: PLT cache
        uses: actions/cache@v5
        with:
          key: |
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt
          restore-keys: |
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt
          path: |
            priv/plts
      - run: mix deps.get
      - run: mix deps.unlock --check-unused
      - run: mix compile --warnings-as-errors
      - run: mix format --check-formatted
      - run: mix credo --strict --all
      - run: mix dialyzer --halt-exit-status
